header{
    background-color: #0020F4;
    height: 388px;
}
a{
    text-decoration: none;
 }
ul, ol{
    list-style-type: none;
}
header img{
    width: 115px;
}
h2{
    text-align: center;
    color: #171717;
    text-transform: uppercase;
    opacity: 1;
    font-size: 28px;
}
p{
    font-size: 16px;
    color: #171717;
    text-align: left;
}
h3{
    font-size: 16px;
    color: #ffffff;
    background-color: #0A22F4;
    border-radius: 28px;
}
nav a{
    font-size: 16px;
    color:#ffffff;
}
.contact{
        background-color: white;
}
.contact a{
    color: #000000;
    width: 160px;

}

