header{
    background-color: #0020F4;
    width: 1920px;
    height: 388px;
    opacity: 100%;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
section img{
    width: ; x: 362;
    height: ; y: 285px;
}
h2{
    text-align: center;
    color: #171717;
    text-transform: uppercase;
    opacity: 1;
    font-size: 28px;
}
p{
    font-size: 16px;
    color: #171717;
    text-align: left;
}
h3{
    font-size: 16px;
    color: #ffffff;
    background-color: #0A22F4;
    border-radius: 28px;
}]

